<br />

<div class="booyah-box col-10 offset-1">
  <h1>The Team!</h1>
 
  <h2>Christian Wigert</h2>
  <p>Christian Wigert is a web development student at the University of Denver. This is his third web application. Check out his bio <a href="https://christianwigert.netlify.com/"> here!</a>
</div>